USE [master]
GO
/****** Object:  Database [Plant]    Script Date: 2023/12/24 16:13:18 ******/
CREATE DATABASE [Plant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Plant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Plant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Plant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Plant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Plant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Plant]
GO
/****** Object:  Table [dbo].[A_Picture]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_Picture](
	[photoId] [char](4) NOT NULL,
	[photoPlace] [varchar](255) NULL,
	[photoDes] [varchar](255) NULL,
	[photoPer] [varchar](255) NULL,
	[photoPath] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[photoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_Plant]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_Plant](
	[id] [char](4) NOT NULL,
	[altername] [varchar](255) NOT NULL,
	[feature] [varchar](255) NULL,
	[value] [varchar](255) NULL,
	[skill] [varchar](255) NULL,
	[classifyID] [char](4) NOT NULL,
	[disAreaID] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_Plant_picture]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_Plant_picture](
	[photoId] [char](4) NOT NULL,
	[plantId] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[photoId] ASC,
	[plantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_Area]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_Area](
	[disAreaID] [varchar](255) NOT NULL,
	[alterName] [varchar](255) NULL,
	[province] [varchar](255) NULL,
	[city] [varchar](255) NULL,
	[country] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[disAreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_Change]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_Change](
	[changeID] [int] NOT NULL,
	[alterName] [varchar](255) NULL,
	[createPerson] [varchar](255) NULL,
	[innovationTime] [datetime] NULL,
	[updateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[changeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B_Classification]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_Classification](
	[classifyID] [int] NOT NULL,
	[alterName] [varchar](255) NULL,
	[classifyType] [varchar](50) NULL,
	[classifyID_parent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[classifyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C_Maintenance]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_Maintenance](
	[mainID] [int] NOT NULL,
	[mainTime] [date] NULL,
	[mainLoc] [varchar](255) NULL,
	[mainPer] [varchar](255) NULL,
	[alterName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[mainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C_Task]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_Task](
	[taskID] [int] NOT NULL,
	[taskName] [varchar](255) NULL,
	[taskDes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[taskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C_TaskMaintenance]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_TaskMaintenance](
	[taskID] [int] NOT NULL,
	[mainID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[taskID] ASC,
	[mainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Control]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Control](
	[conID] [int] NOT NULL,
	[conTime] [date] NULL,
	[conLoc] [varchar](255) NULL,
	[conPer] [varchar](255) NULL,
	[alterName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[conID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Medicine]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Medicine](
	[medcID] [int] NOT NULL,
	[medcName] [varchar](255) NULL,
	[medcDos] [int] NULL,
	[dataAct] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[medcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Pest]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Pest](
	[pestID] [int] NOT NULL,
	[pestName] [varchar](255) NULL,
	[conID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_PestAndCon]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_PestAndCon](
	[conlID] [int] NOT NULL,
	[pestID] [int] NOT NULL,
	[medcID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[conlID] ASC,
	[pestID] ASC,
	[medcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_Detection]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_Detection](
	[detecNum] [int] NOT NULL,
	[detecTime] [date] NULL,
	[detecLoc] [varchar](255) NULL,
	[detecPer] [varchar](255) NULL,
	[alterName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[detecNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_EquipDetecIndica]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_EquipDetecIndica](
	[equipNum] [int] NOT NULL,
	[indexNum] [int] NOT NULL,
	[detecNum] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[equipNum] ASC,
	[indexNum] ASC,
	[detecNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_Equipment]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_Equipment](
	[equipNum] [int] NOT NULL,
	[equipName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[equipNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_Indicator]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_Indicator](
	[indexNum] [int] NOT NULL,
	[indexName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[indexNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usr]    Script Date: 2023/12/24 16:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usr](
	[no] [int] NOT NULL,
	[username] [varchar](255) NOT NULL,
	[role] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[A_Picture] ADD  DEFAULT (NULL) FOR [photoPlace]
GO
ALTER TABLE [dbo].[A_Picture] ADD  DEFAULT (NULL) FOR [photoDes]
GO
ALTER TABLE [dbo].[A_Picture] ADD  DEFAULT (NULL) FOR [photoPer]
GO
ALTER TABLE [dbo].[A_Picture] ADD  DEFAULT (NULL) FOR [photoPath]
GO
ALTER TABLE [dbo].[A_Plant] ADD  DEFAULT (NULL) FOR [feature]
GO
ALTER TABLE [dbo].[A_Plant] ADD  DEFAULT (NULL) FOR [value]
GO
ALTER TABLE [dbo].[A_Plant] ADD  DEFAULT (NULL) FOR [skill]
GO
ALTER TABLE [dbo].[A_Plant_picture]  WITH CHECK ADD FOREIGN KEY([photoId])
REFERENCES [dbo].[A_Picture] ([photoId])
GO
ALTER TABLE [dbo].[A_Plant_picture]  WITH CHECK ADD FOREIGN KEY([plantId])
REFERENCES [dbo].[A_Plant] ([id])
GO
ALTER TABLE [dbo].[B_Classification]  WITH CHECK ADD FOREIGN KEY([classifyID_parent])
REFERENCES [dbo].[B_Classification] ([classifyID])
GO
ALTER TABLE [dbo].[C_TaskMaintenance]  WITH CHECK ADD FOREIGN KEY([mainID])
REFERENCES [dbo].[C_Maintenance] ([mainID])
GO
ALTER TABLE [dbo].[C_TaskMaintenance]  WITH CHECK ADD FOREIGN KEY([taskID])
REFERENCES [dbo].[C_Task] ([taskID])
GO
ALTER TABLE [dbo].[D_Pest]  WITH CHECK ADD FOREIGN KEY([conID])
REFERENCES [dbo].[D_Control] ([conID])
GO
ALTER TABLE [dbo].[D_PestAndCon]  WITH CHECK ADD FOREIGN KEY([medcID])
REFERENCES [dbo].[D_Medicine] ([medcID])
GO
ALTER TABLE [dbo].[D_PestAndCon]  WITH CHECK ADD FOREIGN KEY([pestID])
REFERENCES [dbo].[D_Pest] ([pestID])
GO
ALTER TABLE [dbo].[E_EquipDetecIndica]  WITH CHECK ADD FOREIGN KEY([detecNum])
REFERENCES [dbo].[E_Detection] ([detecNum])
GO
ALTER TABLE [dbo].[E_EquipDetecIndica]  WITH CHECK ADD FOREIGN KEY([equipNum])
REFERENCES [dbo].[E_Equipment] ([equipNum])
GO
ALTER TABLE [dbo].[E_EquipDetecIndica]  WITH CHECK ADD FOREIGN KEY([indexNum])
REFERENCES [dbo].[E_Indicator] ([indexNum])
GO
USE [master]
GO
